@charset "UTF-8";

*{
margin:0;
padding:0;
font-style:normal;
font-weight:normal;
text-decoration:none;
}

html{
width:100%;
background-color:#f5f5f5;
}

body{
margin:0 auto;
padding:0;
border:4px solid #dcdcdc;
width:90%;
font-family:sans-serif;
font-size:90%;
color:#000000;
background-color:#fffafa;
}


/* ブロック要素 */

h1, h2, h3, h4, h5, h6{
font-weight:bold;
}

h1{
margin:0;
padding:50px;
font-size:200%;
color:#fffaf0;
}

h2{
margin:1em 20px 1em;
padding:0;
border-bottom:5px solid #e6e6fa;
font-size:140%;
}

h3{
margin:1em 20px 1em;
padding:0;
border-bottom:4px solid #40e0d0;
font-size:130%;
}

h4{
margin:1em 20px 1em;
padding:0;
border-bottom:2px solid #f5deb3;
font-size:120%;
}

h5{
margin:1em 20px 1em;
padding:0;
border-bottom:1px solid #ffb6c1;
font-size:110%;
}

h6{
margin:1em 20px 1em;
padding:0;
font-size:100%;
}

p, li, dt, dd, address{
line-height:160%;
}

p{
margin:1em 20px;
padding:0;
}

ol, ul{
margin:1em 20px 1em 40px;
padding:0;
}

li{
margin:0.5em 50px;
padding:0;
}

li ol, li ul{
margin:0 0 0 20px;
padding:0;
}

dl{
margin:1em 20px 1em 40px;
padding:0;
}

dt{
margin:0.5em 0;
padding:0;
font-weight:bold;
}

dd{
margin:0.5em 0;
padding:0;
}

dd dl{
margin:0 0 0 20px;
padding:0;
}

li dl{
margin:0 0 0 20px;
padding:0;
}

dd ol, dd ul{
margin:0 0 0 20px;
padding:0;
}

blockquote{
margin:1em 20px;
padding:0;
border-left:4px solid #228b22;
}

blockquote p{
margin:1em 0px 1em 16px;
padding:0;
}

blockquote ol, blockquote ul, blockquote dl{
margin:1em 0px 1em 36px;
padding:0;
}

blockquote li ol, blockquote li ul, blockquote li dl{
margin:0.5em 0 0.5em 20px;
padding:0;
}

blockquote dd ol, blockquote dd ul{
margin:0.5em 0 0.5em 20px;
padding:0;
}

blockquote dd dl{
margin:0.5em 0 0.5em 20px;
padding:0;
}

blockquote blockquote{
margin:1em 0px 1em 20px;
padding:0;
}

li blockquote{
margin:1em 0 1em 20px;
}

dd blockquote{
margin:1em 0 1em 20px;
}

table{
margin:1em 20px;
padding:0;
border:2px solid #a0522d;
border-collapse:collapse;
}

caption{
margin:1em 20px;
padding:0;
}

th, td{
margin:0;
padding:5px;
border:1px solid #a0522d;
}

th{
font-weight:bold;
}

pre{
margin:1em 20px;
padding:5px;
border:1px solid #4169e1;
background-color:#b0e0e6;
font-family:monospace;
font-size:100%;
overflow:auto;
}

address{
margin:1em 20px;
padding:0;
}

hr{
margin:0 20px;
padding:0;
border:2px solid #808080;
visibility:hidden;
}


/* インライン要素 */

a:link{
color:#0000ff;
text-decoration:underline;
}

a:visited{
color:#0000cd;
text-decoration:underline;
}

a:hover{
color:#4169e1;
text-decoration:none;
}

a:active{
color:#1e90ff;
text-decoration:none;
}

a:focus{
color:#1e90ff;
text-decoration:none;
}

em{
border-bottom:2px solid #dc143c;
color:#dc143c;
font-weight:bold;
}

strong{
border-bottom:4px double #ff0000;
color:#ff0000;
font-weight:bold;
}

q{
color:#006400;
text-decoration:underline;
}

cite{
color:#008000;
}

dfn{
color:#8a2be2;
border-bottom:2px solid #8a2be2;
}

abbr{
color:#ff1493;
border-bottom:2px solid #ff1493;
}

acronym{
color:#228b22;
border-bottom:2px solid #228b22;
}

code, samp, kbd{
font-family:monospace;
font-size:100%;
}

code{
background-color:#b0c4de;
}

samp{
background-color:#ffc0cb;
}

kbd{
border:2px outset #90ee90;
background-color:#90ee90;
}

ins{
text-decoration:underline;
}

del{
text-decoration:line-through;
}

sup{
vertical-align:super;
font-size:80%;
}

sub{
vertical-align:sub;
font-size:80%;
}

img{
border-style:none;
align:center;
}


/* フォーム */

form{
margin:1em 20px;
padding:0;
}

input{
font-family:sans-serif;
}

input:active, input:focus{
background-color:#ffffe0;
}

textarea{
}

textarea *{
font-family:sans-serif;
}

textarea:active, textarea:focus{
background-color:#ffffe0;
}

select{
}

select:active, select:focus{
background-color:#ffffe0;
}

option{
font-family:sans-serif;
}

optgroup{
font-family:sans-serif;
}


/* ID / クラス */

body#INDEX{
}

div#PAGETOP{
}

div#HEADER, div#FOOTER{
background-color:#2f4f4f;
}

div#HEADER{
}

ul#PAN{
margin:0;
padding:0 20px 5px 20px;
list-style-type:none;
text-align:right;
color:#fffaf0;
}

ul#PAN li{
margin:0;
padding:0 5px;
display:inline;
}

ul#PAN a:link{
color:#fff8dc;
text-decoration:underline;
}

ul#PAN a:visited{
color:#f5f5dc;
text-decoration:underline;
}

ul#PAN a:hover{
color:#fff0f5;
text-decoration:none;
}

ul#PAN a:active{
color:#fff5ee;
text-decoration:none;
}

ul#PAN a:focus{
color:#fff5ee;
text-decoration:none;
}

div#MENU{
}

div#MENU h2{
display:none;
}

div#MENU ul{
margin:0;
padding:0 20px;
list-style-type:none;
}

div#MENU ul li{
margin:0;
padding:0 10px;
display:inline;
text-align:center;
}

div#MENU a:link{
text-decoration:none;
}

div#MENU a:visited{
text-decoration:none;
}

div#MENU a:hover{
border-bottom:2px solid #4169e1;
text-decoration:none;
}

div#MENU a:active{
text-decoration:none;
}

div#MENU a:focus{
text-decoration:none;
}

li.menu-on{
}

div#KIZI{
}

div.text{
margin:0 20px;
padding:0;
}

div.text hr{
margin:0 20px;
padding:0;
border:2px solid #808080;
visibility:visible;
}

div.text ul{
	mergin: 0 12px;
	padding:0;
}

div.text li{
	margin: 0 12px;
	padding: 0;
}

div.text dd{
	margin: 0 20px;
	padding: 0;
}

ul.modori{
margin:0 20px;
padding:0;
list-style-type:none;
text-align:right;
}

ul.modori li{
margin:0;
padding:0;
display:inline;
}

ul.modori a:link{
color:#ff00ff;
background-color:#f5fffa;
text-decoration:underline;
}

ul.modori a:hover{
color:#ee82ee;
background-color:#ffffff;
text-decoration:none;
}

div#FOOTER{
}

div#FOOTER h2{
display:none;
}

div#FOOTER ul{
margin:0;
padding:25px 20px;
list-style-type:none;
text-align:center;
}

div#FOOTER ul li{
margin:0;
padding:0 10px;
display:inline;
text-align:center;
}

div#FOOTER address{
margin:0;
padding:0;
display:inline;
text-align:center;
}

div#FOOTER a:link{
color:#fff8dc;
text-decoration:underline;
}

div#FOOTER a:visited{
color:#f5f5dc;
text-decoration:underline;
}

div#FOOTER a:hover{
color:#fff0f5;
text-decoration:none;
}

div#FOOTER a:active{
color:#fff5ee;
text-decoration:none;
}

div#FOOTER a:focus{
color:#fff5ee;
text-decoration:none;
}
